p:hover {
   color:darkseagreen;
   font-weight: bold;
}

p::before {
   content: 'HELLO';
   color:hotpink;
   font-weight: bold;
}

p::after {
   content: 'BYE';
   color:rgb(91, 26, 26);
   font-weight: bold;
}

p::selection {
   background-color: bisque;
   color:lawngreen;
}
