@keyframes my-animation {
   from {background-color: aliceblue;}
   to {background-color: darkred;}
}

body {
   animation: my-animation 2s alternate;
}

img {
   width: 500px;
   transition: 0.5s;
}

img:active {
   width: 800px;
}
